apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: pubsub-solace
spec:
  type: pubsub.solace.amqp
  version: v1
  metadata:
  - name: url
    value: "amqps://<SOLACE_SECURED_AMQP_HOST>"
  - name: username
    value: "<SOLACE_USER_NAME>"
  - name: password
    value: "<SOLACE_PASSWORD>"
